windowcontrols.start:not(.rewaita-display) > button.minimize > image {
    color: var(--yellow-1);
}

windowcontrols.start:not(.rewaita-display) > button.maximize > image {
    color: var(--green-1);
}

windowcontrols.start:not(.rewaita-display) > button.close > image {
    color: var(--red-1);
}

windowcontrols.end:not(.rewaita-display) > button.minimize > image {
    color: var(--yellow-1);
}

windowcontrols.end:not(.rewaita-display) > button.maximize > image {
    color: var(--green-1);
}

windowcontrols.end:not(.rewaita-display) > button.close > image {
    color: var(--red-1);
}
