windowcontrols:not(.rewaita-display) > button {
  padding: 2px;
}

windowcontrols:not(.rewaita-display) > button.minimize:not(:hover) image,
windowcontrols:not(.rewaita-display) > button.maximize:not(:hover) image {
	background-color: transparent;
}

windowcontrols:not(.rewaita-display) > button.close > image {
	background-color: var(--accent-bg-color);
	color: var(--accent-fg-color);
}

windowcontrols:not(.rewaita-display) > button.close > image:hover {
  filter: brightness(90%);
}

windowcontrols:not(.rewaita-display) > button.close > image:active {
  filter: brightness(80%);
}
